.example-page-checklist {
  .checklist-catogory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--site-gray);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid var(--site-light-gray);
    transition: background-color 0.5s;
    &:hover {
      color: var(--site-gray);
      background-color: var(--site-light-gray);
    }
    + .inner-checklist {
      max-height: 0;
      font-size: 0;
      overflow: hidden;
      transition: none;
      position: relative;
      input {
        display: none;
      }
    }
    &.open {
      + .inner-checklist {
        max-height: 500px;
        font-size: 1rem;
        display: block;

        transition: max-height 1s;
        input {
          display: inline-block;
        }
        .individual-checklist-item {
          display: flex;
          background-color: white;
          cursor: pointer;
          input {
            display: block;
            margin: 0 0.25rem 0 1rem;
          }
          .checklist-div {
            width: 100%;
            position: relative;
            .link-name {
              padding: 0.25rem 0.5rem;
              font-size: 1rem;
              font-weight: bold;
              color: var(--site-gray);
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .example-page-checklist {
    width: 33.33%;
    height: calc(100vh - var(--menu-height));
    overflow: scroll;
    .checklist-catogory {
      &.open {
        + .inner-checklist {
          .individual-checklist-item {
            border: 1px solid var(--site-light-gray);
            cursor: pointer;
            .checklist-div {
              width: 100%;
              position: relative;
              .hover-anim {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba($color: #000000, $alpha: 0.5);
                transition: opacity 0.5s;
                width: 100%;
                height: 100%;
                &:hover {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
  }
}
