.example-page-checklist {
  .checklist-catogory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--site-gray);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid var(--site-light-gray);
    transition: background-color 0.15s;
    &:hover {
      color: var(--site-gray);
      background-color: var(--site-light-gray);
    }
    + .inner-checklist {
      max-height: 0;
      font-size: 0;
      overflow: hidden;
      transition: none;
      position: relative;
      input {
        display: none;
      }
    }
    &.open {
      + .inner-checklist {
        max-height: 500px;
        font-size: 1rem;
        display: block;

        transition: max-height 1s;
        input {
          display: inline-block;
        }
        .individual-checklist-item {
          display: flex;
          background-color: white;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .example-page-checklist {
    width: 33.33%;
    height: calc(100vh - var(--menu-height));
    overflow: scroll;
    .checklist-catogory {
      &.open {
        + .inner-checklist {
          .individual-checklist-item {
            border: 1px solid var(--site-light-gray);
            cursor: pointer;
            .checklist-div {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
