#modal-tabs {
  display: flex;
  > div {
    padding: 0.25rem;
    padding-bottom: 0;
    margin-right: 0.5rem;
    cursor: pointer;
    border-top: 1px double blue;
    border-bottom: none;
    position: relative;
    background-color: white;
    top: 0;
    transition: top 0.25s;
    &.active-modal-tab {
      top: 1px;
    }
  }
}
