#modal-tabs {
  display: flex;
  > div {
    padding: 0.25rem;
    padding-bottom: 0;
    margin-right: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--site-gray);
    border-bottom: none;
    border-top-left-radius: 0.15rem;
    border-top-right-radius: 0.5rem;
    position: relative;
    background-color: white;
    top: 0;
    &.active-tab {
      top: 2px;
    }
  }
}
