#create-json {
  width: 100%;
  position: relative;
  top: 50px;
  padding-top: 50px;
  #create-json-tabs {
    margin: 0 auto;
    width: 100%;
  }
  #create-json-container {
    margin: 0 20px;
    .tab-content {
      display: none;
      border: 1px solid black;
      border-top-right-radius: 10px;
      padding: 10px;
      width: 100%;
      margin: 0 auto;
      button {
        float: right;
      }
      pre {
        font-size: 0.75rem;
        line-height: 0.75rem;
      }
      &.active {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 768px) {
}
