#side-bar {
  max-height: calc(100vh - 50px);
  overflow-y: scroll;
  border-right: 1px solid black;
  dt {
    text-align: left;
    color: black;
    font-weight: bold;
  }
  dd {
    text-align: right;
    color: rgba($color: #000000, $alpha: 0.5);
    transition: all 0.15s;
    &:hover {
      color: black;
    }
    &.active {
      color: black;
    }
  }
  dt,
  dd {
    padding: 0.25em 1em;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    > div {
      width: 100%;
      height: 100%;
    }
    input[type="checkbox"] {
      cursor: pointer;
      margin-right: 10px;
      -webkit-appearance: none;
      width: 30px;
      height: 30px;
      background: white;
      border-radius: 5px;
      border: 2px solid #555;
      &:checked {
        background: #abd;
      }
    }
    cursor: pointer;
  }
  pending {
    color: green;
  }
  active {
    color: red;
  }
}
