* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --site-gray: rgba(0, 0, 0, 0.5);
  --site-blue: #abd;
}
body {
  font-size: 18px;
  color: var(--site-gray);
  line-height: 30px;
}
a {
  text-decoration: none;
  color: var(--site-gray);
  font-weight: bold;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--site-gray);
  font-size: 14px;
  cursor: pointer;
}
pre {
  white-space: pre-wrap;
}
